<div class="search">
  <h4 class="search__h4">Додати місто</h4>

  <div class="close" (click)="closeModal()">X</div>

  <form>
    <input type="text" class="serach__input"
           #input
           (input)="checkCity(input.value)">

    <p class="msg search__error"
       *ngIf="errorMsg">{{ errorMsg }}</p>
    <p class="msg search__complete"
       *ngIf="messageTrue">
      Місто додано!
    </p>

    <button class="search__add"
            [disabled]="disabled"
            (click)="addCity(input)">ДОДАТИ</button>
  </form>
</div>