<!--
<p>{{ weather?.main.temp }}</p>
<img src="{{ weatherService.getIcon(weather?.weather[0].icon) }}" alt="Stage">-->

<div class="container">
    <div (click)="sortWeather()">sort</div>
    <div class="">
        <app-city-item *ngFor="let city of weather; let i = index"
                       [city]="city"
                       class="weather-item flex-align"
                       [class.red]="i == weather.length - 1"
                       [class.blue]="i == 0">
        </app-city-item>
    </div>
</div>
