<!--
<p>{{ weather?.main.temp }}</p>
<img src="{{ weatherService.getIcon(weather?.weather[0].icon) }}" alt="Stage">-->

<app-modal-window class="background"
        *ngIf="modalService.getModal()"
        (click)="closeModal($event)"
        (add)="addCity($event)">
</app-modal-window>

<div class="container">
    <button (click)="triggerModal()" class="add-city__btn">ДОДАТИ МІСТО</button>
    <div class="flex-align">
        <app-city-item *ngFor="let city of weather"
                       [city]="city"
                       class="weather-item"
                       [class.red]="city.temp == max_temp"
                       [class.blue]="city.temp == min_temp">
        </app-city-item>
    </div>
</div>
